<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-light bg-light justify-content-between sticky-top">
  <a class="navbar-brand">PRISTINE</a>
  <button type="button" class="btn btn-outline-black">Login</button>
</nav>
<form class="form-inline justify-content-center mt-3">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-black my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="container">
  <app-data-display></app-data-display>
  <app-posts></app-posts>
</div>-->

<app-navigation></app-navigation>
<div class="container">
  <app-home></app-home>
  <router-outlet>
    <app-signup></app-signup>
  </router-outlet>
</div>