<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<!-- <nav class="navbar navbar-default navbar-fixed-top navbar card-bordered sticky-top navbar-expand-lg navbar-light pb-0 pt-0"> -->
<mat-toolbar style="background-color: #222831;" >
    <span>
      <a routerLink="/">
        <span style="color: aliceblue;">PRISTINE</span>
      </a>
    </span>
    <span>
      <a routerLinkActive="active" routerLink="/post">
        <span style="color: aliceblue;">Posts</span>
      </a>
      <a routerLinkActive="active" routerLink="/login">
        <span style="color: aliceblue;">Login</span>
      </a>
      <a routerLink="/signup" routerLinkActive="active">
        <span style="color: aliceblue;">Signup</span>
      </a>
      <!-- <a mat-raised-button href="/frontend/src/app/components/signup/signup.component.html" target="_blank">Link</a> -->
      <!-- <a mat-button href="/frontend/src/app/components/signup/" target="_blank">Sign Up</a> -->
    </span>
  </mat-toolbar>
<!-- </nav> -->
  