<!-- <div *ngIf="cartItems.length > 0">
    <h1>Cart Items</h1>
    <div *ngFor="let item of cartItems" style="display: flex; margin-bottom: 20px;">
      <img [src]="item.imageUrl" alt="{{item.name}}" style="width: 150px; height: 150px; margin-right: 20px;">
      <div>
        <h2>{{ item.name }}</h2>
        <p><strong>Preparation Time:</strong> {{ item.preptime }} hours</p>
        <p><strong>Cost:</strong> ${{ item.cost }}</p>
        <p><strong>Quantity:</strong> {{ item.quantity }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="cartItems.length === 0">
    <h1>Your cart is empty</h1>
  </div>
   -->
   <div *ngIf="cartItems.length > 0" style = "margin-top: 10px;margin-left:20px">
    <div *ngFor="let item of cartItems" style="display: flex; margin-bottom: 20px;">
      <img [src]="getImageUrl(item.id)" alt="{{item.name}}" style="width: 150px; height: 150px; margin-right: 20px;">
      <div>
        <h2>{{ item.name }}</h2>
        <p><strong>Preparation Time:</strong> {{ item.preptime }} hours</p>
        <p><strong>Cost:</strong> ${{ item.cost }}</p>
        <p><strong>Quantity:</strong> {{ item.quantity }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="cartItems.length === 0">
    <h1>Your cart is empty</h1>
  </div>
  